{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <!-- <title> Responsive Contact Us Form  | CodingLab </title>-->
    <link rel="stylesheet" href="style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <!-- css link -->
    <link rel="stylesheet" href="/static/todo/contact.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <div id="imag">
  <img src="{% static 'image/help.jpg' %}">
   </div>


  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Namakkal(dt),1/25 </div>
          <div class="text-two">paramathi velur(tk)</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">6369410983</div>
          <div class="text-two">8754252425</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">vishnuviki7777@gmail.com</div>
          <div class="text-two">donsripathy@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any work from me or any types of quries related to the website, you can send me message from here. It's my pleasure to help you.</p>


      <form action="{% url 'addContact' %}" method="POST">
        {% csrf_token %}
        <div class="input-box">
          <input type="text" placeholder="Enter your email" name="email">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your query" name="query">
        </div>
        <div class="input-box message-box">
          
        </div>
        <div class="button">
          <button type="submit" class="btn btn-primary">Send Now</button>
        </div>
      </form>
    </div>
    </div>
  </div>
</body>
</html>
