{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST APP</title>
    <!-- css link -->
    <link rel="stylesheet" href="/static/todo/style.css">

    <!-- fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
   <!-- image -->
   <div id="image">
    <img src="{% static 'image/lists.jpg' %}" >
</div>

        <!-- navbar -->
        <div id="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="http://127.0.0.1:8000/contact/">Contact</a></li>
                <li><a href="http://127.0.0.1:8000/review/">Review</a></li>
                <li><a href="http://127.0.0.1:8000/">App</a></li>
                <!-- login Button -->
                <li id="login"><a href="http://127.0.0.1:8000/admin">Login</a></li>
            </ul>
        </div>

        

        <!-- content -->
        <div id="content">
            <h2>TO DO APP</h2>
            <h4>REMEMBER UR WORK</h4>
        </div>

        <!-- icons -->
        <div id="icons">
            <!-- visit => "fontawesome.com" for icons -->
            <a href="https://www.facebook.com/campaign/landing.php?campaign_id=14884913640&extra_1=s%7Cc%7C589460569849%7Cb%7Cfacebook%20%27%7C&placement=&creative=589460569849&keyword=facebook%20%27&partner_id=googlesem&extra_2=campaignid%3D14884913640%26adgroupid%3D128696220912%26matchtype%3Db%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-327195741349%26loc_physical_ms%3D1007810%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQjwnbmaBhD-ARIsAGTPcfWntLcVhcm0Z-CVYEb3g6fq2I7ySF-GT49iFAyloHWMmHmRksED6hIaAtD8EALw_wcB"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/watch?v=MkESyVB4oUw"><i class="fab fa-youtube"></i></a>
            <a href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a>
        </div>

        

        <!-- lines -->
        <div id="line1"></div>
        <div id="line2"></div>
    </div>
</body>
</html>